/* Ambiguous Styles & Colours */
h1,h2,h3,h4,h5,h6 {
	font-family: "franklin-gothic-urw", sans-serif;
	font-weight: 100;
}

body p {
	font-family: "ratio", sans-serif;
}

a {
	text-decoration: none;
}

/* layout:default */


.prim {
	color: #C14678;
}

.sec {

}

/* Homepage */

header {
	padding: 20px 0;
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	float: left;
}

nav ul li {
	margin: 0;
	padding: 0;
	line-height: 0;
	display: inline;
}

/* reset bootstrap margins for content */
.content .row {
	margin-left: 0;
}

.navbar-inner {
	background: none;
}

.logo {
	font-size: 2.3em;
	color: #AAAAAA;
}

.logo:hover {
	color: #C14678;
}

.black {
	background: black;
}	

.colour-bar {
	width: 100%;
	height: 5px;
	background: #c14678; /* Old browsers */
	background: -moz-linear-gradient(left, #c14678 0%, #e51dca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c14678), color-stop(100%,#e51dca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #c14678 0%,#e51dca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #c14678 0%,#e51dca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #c14678 0%,#e51dca 100%); /* IE10+ */
	background: linear-gradient(to right, #c14678 0%,#e51dca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c14678', endColorstr='#e51dca',GradientType=1 ); /* IE6-9 */
	margin: 20px 0px 20px 0px;
}

.featured {
	margin-bottom: 20px;
}

.featured a.post-title {
	font-size: 2.5em;
	line-height: 2em;
}

.featured p {
	font-size: 1.5em;
	font-weight: 100;
	line-height: 1.5em;
	color: rgba(30, 0, 30, .5);
}

.post p {
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.3em;
	color: rgba(30, 0, 30);
}

.post-title {
	margin-bottom: 10px;
}

.date {
	margin: 10px 0px;
}

/* sidebar styles */

.sidebar {
	color: #bbb;
	margin: 0;
}

/* tag list styles */

ul.tag-list {
	list-style: none;
}

li.tag a {
	margin-left: 14px;
	color: #DDD;
}

/* large navigation icons */


