<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- TypeKit -->
  <script type="text/javascript" src="//use.typekit.net/uar4anj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- UI libraries -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/flat-ui.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css"></head>
<body>
  <div class="container">
    <div class="row">
      <header>
        <div class="span2">
          <a href="/" class="logo">hgrieve</a>
        </div>
      </header>
    </div>
    <div class="colour-bar"></div>
    <div class="row">
      <section class="content span12">{{ content }}</section>
    </div>
    <div class="row">
      <footer class="span12">
        <p>&copy;2013 harrison grieve</p>
        <nav>
          <ul>
            <li>get in touch on </li>
            <li><a href="http://github.com/hgrieve" target="_blank">github</a></li>
            <li> or </li>
            <li> <a href="http://twitter.com/harrisongrieve" target="_blank">twitter</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </div>
</body>
</html>