---
layout: default
---
<div class="row">
	<p class="hg-breadcrumb"><a href="">archive</a> / </p>
</div>
<div class="row">
	<div class="span4 sidebar">
		<h4 class="prim post-title">{{ page.title }}</h4>
		<p class="meta date">{{ page.date | date_to_string }}</p>
		<ul class="tag-list">
			{% for post in site.posts %}
				{% for tag in post.tags %}
					<li class="tag"><a href="/tag/{{ tag }}">{{ tag }}</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
	<div class="span8">
		<div class="post">{{ content }}</div>
	</div>
</div>
